<header>
  <h1>Covid No Brasil</h1>
</header>

<main>
  <div class="container">
    <div class="textos" id="textos">
      <div>
        <h2>Casos Confirmados no Brasil</h2>
        <p>{{ casosBrasil | number }} Casos</p>

        <h3>Mortes</h3>
        <p>{{ mortesBrasil | number }} Mortes</p>
      </div>

      <div>
        <h2>Casos Confirmados no Mundo</h2>

        <p>{{ casosGlobal | number }} Casos</p>

        <h3>Mortes</h3>
        <p>{{ mortesGlobal | number }} Mortes</p>
      </div>
    </div>
  </div>
</main>

<footer>
  <h2>Feito Por Filipe Augusto</h2>
</footer>
